@import "tailwindcss";

@import "tailwindcss";

@layer base {
  body {
    @apply bg-linear-to-r from-slate-400 to-slate-800 min-h-screen;
    margin: 0;
    padding: 0;
    /* We use a deep slate for text to remain readable on the grey */
    color: #1e293b; 
    background-attachment: fixed;
  }
}
@keyframes orchidDrift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

